@model List<BookViewModel>


<input type="hidden" id="PageCount" value="@("pagecount" + ViewBag.PageCount + "pagecount")" />

<table cellspacing="0">
    <thead>
        <tr>
            <th>
                شابک
            </th>
            <th>
                عنوان
            </th>
            <th>
                دسته بندی
            </th>
            <th>
                قیمت
            </th>
            <th>
                عملیات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (BookViewModel book in Model)
        {
            <tr>
                <td class="td-number">
                    @book.Isbn.ToPersianNumber()
                </td>
                <td>
                    @book.Title.ToPersianNumber()
                </td>
                <td>
                    @book.Category.ToPersianNumber()
                </td>
                <td class="td-number">
                    @book.Price.ToString().ToPersianNumber()
                </td>
                <td>
                    <div class="operation">
                        <a asp-action="Edit" data-isbn="@book.Isbn" onclick="editBook(event)" class="icon icon-edit">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a asp-action="Delete" data-isbn="@book.Isbn" onclick="deleteBook(event)" class="icon icon-delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>